@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px;
    font-weight: 500;
    background-repeat: no-repeat;
}

/* .radio-container {
    display: none !important;
} */

.top-navbar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-decoration: none;

}

.index-navbar {
    padding-top: 55px;
    padding-left: 122px;
    padding-right: 134px;
    position: absolute;
}

.navbar-2 {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 56px;
    padding-left: 386px;
    padding-right: 373px;
    padding-top: 77px;
    padding-bottom: 55px;
    height: 163px;
    width: 100%;
}

.camera-container {
    width: 100%;
}

.nav-menu a {
    margin-left: 40px;
    text-decoration: none !important;
    color: #FFFFFF;
    font-size: 18px;
}

.navbar-2 .nav-menu a {
    margin-left: 40px;
    text-decoration: none !important;
    color: #3C3C3C !important;
    font-size: 18px;
}

.menu-btn {
    background-image: url("../image/Menu-expand.png");
    background-size: contain;
    width: 46px;
    height: 46px;
    margin-left: 34px;
}

.top-logo img {
    width: 196px;
    height: 30px;
}

.camera-card {
    background-color: #09093E;
    width: 961px;
    height: 1010px;
    grid-template-rows: fit-content(100%) auto;
}

.pic-card {
    width: 961px;
    height: 1010px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


.img-container {
    display: flex;
}

.content-left {
    padding-top: 281px;
}

.content-left .img-container {
    margin-bottom: 140px;
    align-items: flex-end;

}

.content-left .camera-content {
    justify-content: space-between;
}

.content-right {
    padding-top: 156px;
    flex-direction: column;
    word-break: keep-all;
}

.content-right .camera-content {
    flex-direction: column;
}

.content-right .img-container {
    margin-top: 66px;
}

.camera-card img {
    width: 241px;
    height: 212px;
    position: relative;
}

.camera-card .list-container,
.camera-title {
    margin-left: 122px;
}

ul {
    text-decoration: none;
}

.camera-type {
    font-size: 18px;
    letter-spacing: 0.26em;
}

.camera-name {
    font-size: 40px;
}

.camera-title {
    flex-direction: column;
}

.list-container {
    flex-direction: column;
}

.company-title-border {
    border-bottom: 2px solid #0655F2;
    width: 211px;
    height: 2px;
}

.company-title-border-2 {
    border-bottom: 2px solid #FFFFFF;
    width: 211px;
    height: 2px;
}

.technology-title-border {
    border-bottom: 2px solid #0655F2;
    width: 76px;
    height: 2px;
}

.technology-title-border-2 {
    border-bottom: 2px solid #FFFFFF;
    width: 76px;
    height: 2px;
}

.about-banner {
    padding-left: 375px;
    padding-right: 375px;
    padding-top: 92px;
    padding-bottom: 63px;
    width: 100%;
    height: auto;
    gap: 27px;
}

.about-title,
.core-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
    white-space: nowrap;
}

.about-text,
.core-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: justify;
}

.core-text {
    padding-right: 62px;
}

.core-banner {
    background-color: #F5FAFF;
    padding-top: 93px;
    padding-bottom: 92px;
    height: auto;
    width: 100%;

}

.core-content {
    height: 326px;
    width: 359px;
    margin-right: 37px;
    margin-top: 76px;
}

.core-container {
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%);
    grid-gap: 21px;
}

.card-container {
    grid-template-rows: fit-content(100%) fit-content(100%);
    grid-gap: 20px;
}

.core-card {
    height: 432px;
    width: 377px;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.12);
    text-align: justify;
    padding-top: 15px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 130px;
    background-color: #FFFFFF;
}

.card-icon {
    margin-bottom: 13px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.card-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}

.card-row-2 {
    margin-top: 44px;
}

.card-content {
    flex-direction: column;
}

.contact-banner {
    color: #FFFFFF !important;
    background-color: #09093E;
    padding-top: 114px;
    padding-bottom: 51px;
    padding-left: 369px;
    border-bottom: 1px #FFFFFF solid;
    width: 100%;
    height: auto;
    justify-content: flex-end;
}

.contact-form {
    flex-direction: column;
}

.contact-content {
    height: 282px;
    width: 315px;
    margin-right: 88px;
}

.contact-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
}

.contact-text {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: justify;
}

.contace-form {
    width: 774px;
    height: 398px;
}

.contact-info {
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%);
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
    row-gap: 17px;
    column-gap: 20px;
    margin-bottom: 16px;
}

.contact-info input,
select,
option {
    background-color: #FFFFFF54;
    width: 377px;
    height: 53px;
    padding-left: 23px;
    border-radius: 10px;
}

.contact-info input::placeholder,
select {
    color: #FFFFFF !important;
}

.contact-message {
    flex-direction: column;
    row-gap: 20px;
    width: fit-content;
    align-items: flex-end;
}

.contact-message textarea {
    background-color: #FFFFFF54;
    width: 773px;
    height: 123px;
    padding-left: 23px;
    padding-top: 16px;
    border-radius: 10px;
}

.contact-message textarea::placeholder {
    color: #FFFFFF !important;
}

.contact-info option {
    color: #3C3C3C;
}

#submit-btn {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #0554F2;
    border: 1px solid #0554F2;
    border-radius: 10px;
    color: #FFFFFF;
    width: 127px;
    height: 45px;
    white-space: nowrap;
}

footer {
    background-color: #09093E;
    padding-top: 46px;
    padding-left: 369px;
    padding-bottom: 42px;
    color: #FFFFFF !important;
    width: 100%;
    height: 171px;
}

.footer-title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 5px;
}

.core-card {
    z-index: 1 !important;
}

.dot-bg1 {
    left: 705px;
    top: 1572px;
}

.dot-bg2 {
    left: 1492px;
    top: 1076px;
}

.dot-bg3 {
    margin-left: 271px;
    float: right;
}

.anpr-banner {
    width: 100%;
    height: auto;
    padding-top: 64px;
    padding-bottom: 86px;
    padding-left: 234px;
    background-image: url(../image/technology-bg-1.png);
    background-size: cover;
    gap: 98px;
}

.anpr-content {
    text-align: left;
}

.anpr-title,
.compression-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    margin-bottom: 32px;
}

.fr-banner {
    width: 100%;
    height: auto;
    padding-left: 224px;
    padding-top: 138px;
    padding-bottom: 158px;
    padding-right: 450px;
    background-image: url(../image/technology-bg-2.png);
    background-size: cover;
    color: #FFFFFF !important;
}

.fr-content {
    margin-left: 305px;
}

.fr-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 32px;
}

.fr-text p {
    text-align: justify !important;
}

.compression-banner {
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-left: 374px;
    padding-bottom: 102px;
    padding-right: 231px;
    background-image: url(../image/technology-bg-3.png);
    background-size: cover;
}

.compression-content {
    margin-right: 204px;
}

.compression-text {
    text-align: justify;
}

.pic-card img {
    width: auto;
    height: 105%;
}

#ALVIS-1 .pic-card, #ALVIS-3 .pic-card {
    display: flex;
    justify-content: flex-end;
}

#ALVIS-4 .pic-card, #ALVIS-5 .pic-card {
    display: flex;
    justify-content: center;
}

.radio-container {
    flex-direction: column;
    gap: 16px;
    position:fixed;
    justify-content: center;
    display: inline-flex;
    z-index: 1;
    left: 93vw;
    top: 50vh;
}

.radio-route::after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    top: -5px;
    left: 0px;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FFFFFF;
}

.radio-route:checked::after {
    width: 21px;
    height: 21px;
    border-radius: 21px;
    position: relative;
    top: -5px;
    left: -3px;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FFFFFF;
}

.nav-menu .menu-btn {
    display: none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.nav-container {
    margin-top: 50px;
}

#active {
    font-weight: 700;
}

@media (max-width: 1400px) {
    .about-banner {
        padding-left: 100px;
        padding-right: 100px;
    }

    .dot-bg1 {
        left: 430px;
    }

    .dot-bg2 {
        left: 1245px;
        top: 1050px;
    }

    .contact-banner {
        padding-left: 100px;
    }

    .dot-bg3 {
        margin-left: 70px;
    }

    .anpr-banner {
        padding-right: 150px;
    }

    .fr-content {
        margin-left: 100px;
    }

    .fr-banner {
        padding-right: 200px;
    }

    .compression-banner {
        padding-right: 300px;
    }

    .navbar-2 {
        padding-left: 200px;
        padding-right: 200px;
    }

    footer {
        padding-left: 200px;
    }
}

@media (max-width: 1024px) {
    .pic-card img {
        width: auto;
        height: 110vw;
    }
    body {
        justify-content: center;
    }

    .radio-container {
        display: none !important;
    }   
    
    .nav-menu a {
        display: none;
    }

    .nav-menu a.menu-btn {
        float: right;
        display: block;
    }

    .top-navbar,
    footer {
        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .banner-container {
        width: 100vw;
        padding-left: 10%;
        padding-right: 10%;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-between;
    }

    .navbar-container {
        background: #09093E;
        width: 100vw;
        position: relative;
    }

    .index-navbar {
        padding-top: 35px;
        padding-bottom: 23px;
        position: relative;
        margin: auto;
        background: #09093E;
        width: 90vw;
        border-bottom: #FFFFFF 1px solid;
        padding-left: 0;
        padding-right: 0;
    }

    .index-navbar .menu-btn {
        background-image: url(../image/Menu-expand-white.png);
    }

    .about-pic img,
    .anpr-img,
    .fr-img,
    .compression-img {
        width: 40vw;
        height: auto;
    }
    .img-container {
        display: none !important;
    }
    .fr-banner {
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    .fr-content {
        margin-left: 15vw;
    }

    .core-banner {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    .camera-container {
        flex-direction: column;
        width: 100vw;
    }

    .content-left {
        padding-top: 100px;
    }

    .container-right {
        flex-direction: column-reverse !important;
    }

    .camera-card {
        height: auto;
        padding-bottom: 50px;
    }

    .camera-card,
    .pic-card {
        width: 100vw;
        height: auto;
    }

    .contact-banner {
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .dot-bg1 {
        left: 5vw;
        top: 1870px;
    }

    .dot-bg2 {
        left: 83vw;
        top: 1350px;
    }

    .dot-bg3 {
        position: absolute;
        left: 85vw;
        top: 2550px;
    }
}

@media (max-width: 768px) {
    .navbar-2 {
        position: relative;
        margin: auto;
        background: #FFFFFF;
        width: 90vw;
        border-bottom: #406DA8 1px solid;
        padding-left: 0;
        padding-right: 0;
        padding-top: 35px;
        padding-bottom: 23px;
        height: auto !important;
    }

    .content-left {
        padding-top: 150px;
    }

    .camera-title,
    .list-container {
        margin-left: 0 !important;
        padding-left: 5vw;
    }

    .radio-container,
    .radio-container {
        display: none;
    }

    .camera-card {
        padding-top: 20px;
        height: auto;
        padding-bottom: 50px;
    }

    .img-container {
        margin-bottom: 20px !important;
    }

    .content-right .img-container {
        margin-top: 0;
    }

    .banner-container {
        flex-direction: column;
        padding-top: 50px;
        padding-left: 5vw;
        padding-right: 5vw;
        gap: 0;
        height: auto;
    }

    .anpr-banner {
        background-image: url(../image/technology-bg-1-mobile.png);
        background-size: 100% 100%;

    }

    .anpr-img,
    .fr-img,
    .compression-img {
        width: 90vw;
        margin: auto;
    }

    .fr-banner {
        flex-direction: column-reverse;
        background-image: url(../image/technology-bg-2-mobile.png);
        background-size: 100% 100%;

    }

    .fr-content {
        margin-left: 0;
    }

    .compression-content {
        margin: 0;
    }

    .compression-banner {
        background-image: url(../image/technology-bg-3-mobile.png);
        background-size: 100% 100%;
    }

    footer {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        height: auto;
    }

    .footer-title {
        text-align: center;
    }

    .about-pic img {
        width: 100vw;
    }

    .core-container {
        width: 90vw;
        display: block;
    }

    .dot-bg1,
    .dot-bg2,
    .dot-bg3 {
        display: none;
        padding: 0;
        margin: 0;
        position: absolute;
    }

    .core-content {
        width: 90vw;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .card-container {
        width: 90vw;
        height: auto;
        grid-gap: 24px;
    }

    .core-card {
        width: 369px;
        height: 432px;
        padding-bottom: 0;
        margin: auto;
    }

    .card-row-2 {
        margin-top: 24px;
    }

    .contact-content {
        width: 90vw;
        height: auto;
    }

    .contact-info {
        display: block;
        margin: 0;
    }

    input,
    select {
        width: 90vw !important;
        margin-bottom: 15px !important;
    }

    textarea {
        width: 90vw !important;
        height: auto !important;
        margin: 0;
    }

    .contact-message {
        align-items: flex-start;
    }
}

@media (max-height: 600px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 20px;
    }
}

@media (max-width: 560px) {
    .pic-card {
        width: 100vw;
        height: auto;
    }

    .content-left,
    .content-right {
        height: auto;
    }

    .camera-card {
        padding-bottom: 20px ;
    }

    .camera-name {
        font-size: 25px;
    }

    .top-logo img {
        width: 98px;
        height: 13px;
    }

    .footer-logo img {
        height: 19px;
        width: 138px;
    }

    .menu-btn {
        width: 28px;
        height: 28px;
    }

    .content-left .img-container {
        margin-top: 50vw;

    }

    .img-container img {
        height: 155px;
        width: 176px;
    }

    .about-title,
    .contact-title,
    .core-title,
    .anpr-title,
    .fr-title,
    .compression-title {
        font-size: 25px !important;
    }

    .company-title-border-2,
    .company-title-border,
    .technology-title-border,
    .technology-title-border-2 {
        width: 112px;
    }

    .footer-title {
        font-size: 15px;
    }

    .footer-text {
        font-size: 11px;
    }
}

@media (max-width: 414px) {
    .camera-content {
        flex-direction: column;
    }

    .content-left .img-container {
        margin-left: auto;
    }

    .content-left .img-container {
        margin-top: 0vw;
    }
}

@media (max-width: 375px) {
    .core-card {
        width: 90vw;
    }
}